<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wichtige Personen</title>
</head>

<body>
    <p>Person hinzufügen </p>
    <form action="/add" method="POST">
        <div>
            <label>Dein Name</label>
            <input type="text" name="person" id="">
        </div>
        <div>
            <label for="">Deine Email Adresse</label>
            <input type="email" name="personemail" id="">
        </div>
        <div>
            <label for="">Betreff</label>
            <input type="text" name="betreff" id="">
        </div>
        <div>
            <label for="">Inhalt</label>
            <input type="text" name="inhalt" id="">
        </div>
        <input type="submit" value="Speichern">
    </form>
    <%- include('./partials/list',{persons}) %>
</body>

</html>